{%- if block.type == 'group_testimonial_item' and block.settings.for_item == slider_name -%}
<li class="slide testimonial-item {{block.settings.style}}">
  {% if block.settings.heading != blank %}
  <h3 class="heading-slide-show" style="color:{{block.settings.color}}">{{block.settings.heading}}</h3>
  {% endif %}
  <span  class="quote cs-font clever-icon-quote-2"></span>

  <div class="content-text-testimonial">
    {% if block.settings.style == 'type_3' %}
    <div class="image"{% if block.settings.image != blank %} style="width:{{block.settings.image_size }}px;height:{{block.settings.image_size }}px;background-image: url('{{ block.settings.image | img_url: '2048x'  }}');"{% endif %}>
    </div>
    {% endif %}
    <div class="text" style="color:{{block.settings.color}}">{{block.settings.text }}</div>
    <div class="author">
      {% if block.settings.style == 'type_2' %}
      <div class="image"{% if block.settings.image != blank %} style="width:{{block.settings.image_size }}px;height:{{block.settings.image_size }}px;background-image: url('{{ block.settings.image | img_url: '2048x'  }}');"{% endif %}>
      </div>
      {% endif %}
      {% if block.settings.author != blank %}
      <div class="name-author" style="color:{{block.settings.color}}">{{block.settings.author }}</div>
      {% endif %}
    </div>
  </div>
</li>
<style>
  .testimonial-item .content-text-testimonial .author .name-author:before {
    background:{{block.settings.color}}
  }
</style>
{% endif %}