
<div class="block-countdown">
  {% if block.settings.home_block_title_7 != blank %}
  <h2>
    {{ block.settings.home_block_title_7  }}
  </h2>
  {% endif %}
  {% if block.settings.home_block_sub_title_7 != blank %}
  <p>
    {{ block.settings.home_block_sub_title_7 }}
  </p>
  {% endif %}
  {% if block.settings.home_block_countdown_7 != blank %}
  <div class="timline">
    <div id="cntdwn" class="timeline-block" data-time="{{ block.settings.home_block_countdown_7 }}"></div>
  </div>
  {% endif %}
  {% if settings.home_block_button_text_7 != blank %}
  <div class="timeline-button"><a href="{{ block.settings.home_block_button_link_7 }}">
    {{ block.settings.home_block_button_text_7 | split: '|' | first }}
    </a></div>
  {% endif %}
</div>