{% assign collection_infinite_scrolling = settings.collection_infinite_scrollings %}
{% assign collection_infinite_scrolling_text = settings.collection_infinite_scrolling_text %}
{% if settings.isotope_collection_results_per_page != blank %}
{% assign product_per_page = settings.isotope_collection_results_per_page %}
{% else %}
{% assign product_per_page = 14 %}
{% endif %}
{% assign collection_infinite_scrolling_no_more_product_text = settings.collection_infinite_scrolling_no_more_product_text %}
<div class="collections-pages"> 
<div class="row main_row sidebar-left
          {% if settings.collection_layout == 'colection_fulwidth'%} colection_fulwidth{% endif %} {{settings.collection_layout }} {% if settings.collection_layout == 'colection_fulwidth'%} hidden-sidebar {% endif %}">
 {% if settings.collection_layout == 'colection-left'%}
  <div class=" {% if settings.collection_layout == 'colection-left' %} col-lg-3 col-md-3 col-12 {% else %} col-12 {% endif %}col-left" id="filter-sidebar"> 
    {% section 'collection-template' %}
  </div>
  {% endif %}
    {% if settings.collection_layout == 'colection_fulwidth'%}
  {% include 'page-header' %} 
   {% endif %}
  <div class="{% if settings.collection_layout == 'colection-left' or settings.collection_layout == 'right_sibar'%}col-lg-9 col-md-12 col-12 {% else %} col-12 {% endif %} col-main  collection-page">
     {% if settings.collection_layout == 'colection_fulwidth'%}
    
    <div class=" col-12 col-left" id="filter-sidebar"> 
    {% section 'collection-template' %}
  </div>
    {% endif %}
    <div class="loadding-collection" style="display:none;"> <img src="{{ 'loadding-icon.gif' | asset_url }}" alt="brand{{ i }}" /></div>
    {% paginate collection.products by product_per_page %}
    {% comment %}
    Use .grid--rev so that the collection tags appear below the products on mobile
    {% endcomment %}
    {% comment %}
    Use class grid-uniform to have evenly sized columns clear
    each other properly at each breakpoint.
    {% endcomment %}
     {% section 'collection-template1' %}
    {% if paginate.pages > 1 %}
    <div class="padding">
      {% include 'pagination-page' %}
    </div>
    {% endif %}
    {% endpaginate %}
    {% if collection_infinite_scrolling == 'auto_loadmore' %}
    {% paginate collection.products by product_per_page %}
    <div class="component-pagination" style="display: none;">
      {%- if paginate.next -%}
      <span class="next-page-wrapper">
        <a href="{{ paginate.next.url }}" id="paginatie-next">More posts</a>
      </span>
      {%- endif -%}
      {%- if paginate.previous -%}
      <span>
        <a href="{{ paginate.previous.url }}" id="paginatie-previous">Previous posts</a>
      </span>
      {%- endif -%}
    </div>
    {% endpaginate %}
    {% endif %}
  </div>
   {% if settings.collection_layout == 'right_sibar'%}
  <div class=" {% if settings.collection_layout == 'right_sibar' %} col-lg-3 col-md-3 col-12 {% else %} col-12 {% endif %}col-left" id="filter-sidebar"> 
    {% section 'collection-template' %}
  </div>
  {% endif %}
  <div class="overlay-filter"></div>
</div>
</div>
<script>
  
  {% if settings.collection_layout == 'colection_fulwidth'%}
  jQuery('body').addClass('colection_fulwidth');
  {% else %}
  jQuery('body').addClass('colection-left');
  {% endif%}
 
</script>

<style>
  @media (min-width: 992px){
    .item-col-5{width:20%;}
  }

</style>