<div id="header-content">
  <div class="header {% if  section.settings.enable_header_fullwidth  %}full-width {%endif %}">
    {% unless section.settings.enable_header_fullwidth %}
    <div class="container">
      {% endunless  %}

      <div class="header-inner">
        <div class="row">
          <div class=" col-sm-12 col-12 logo-container">
            {% if template.name == 'index' %}
            <h1 class="logo" itemscope itemtype="http://schema.org/Organization">
              {% else %}
              <div class="logo" itemscope itemtype="http://schema.org/Organization">
                {% endif %}
                <a href="/">
                  {% if section.settings.enable_header_logosvg %}
                  {% if section.settings.header_logo_svg  != blank %}
                  <span style="height:{{ section.settings.logo_height_a }}px; width:auto;">
                    {{ section.settings.header_logo_svg }}
                  </span>
                  {% else %}
                  <img class="" src="{{ 'logo.svg' | asset_url }}" style="height:{{ section.settings.logo_height_a }}px; width:auto;" />
                  {% endif %}
                  {% else %}
                  <img src="{{ section.settings.logo | img_url: '2048x' }}" alt="{{ shop.name }}" style="height:{{ section.settings.logo_height_a }}px; width:auto;"/>
                  {% endif %}
                </a>
                {% if template.name == 'index' %}
                </h1>
              {% else %}
              </div>
            {% endif %}
            <div class="logo-sticky">
              <a href="/">
                {% if section.settings.enable_header_logotickysvg %}
                {% if section.settings.header_logo_tickysvg  != blank %}
                <span style="height:{{ section.settings.logo_height_a }}px; width:auto;">
                  {{ section.settings.header_logo_tickysvg }}
                </span>
                {% else %}
                <img class="" src="{{ 'logo.svg' | asset_url }}" style="height:{{ section.settings.logo_height_a }}px; width:auto;" />
                {% endif %}
                {% else %}

                <img src="{{ section.settings.logo_sticky | img_url: '2048x' }}" alt="{{ shop.name }}" style="height:{{ section.settings.logo_sticky_height_a }}px; width:auto"/>
                {% endif %}
              </a>
            </div>
          </div>
          {% if section.settings.show_header_search %}
          <div class="search-top-container site-search">
            <div id="search-top">
              <div class="search-form">
                {% include 'search-bar' %}
              </div>
            </div>
          </div>
          {% endif %}
          <div class="menu-main-home menu col-md-6 col-sm-12 col-12">
            <div class="menu-top">
              <div class="menu-action">{% include 'site-nav' %}</div>
            </div>
          </div>
          <div class="header-cart-container menu col-md-3 col-sm-12 col-12"> 

            {% if section.settings.show_header_account %}
            {% if section.settings.show_header_account %}
            <div class="top-currency">
              <span class="dropdown-icon">
                <i class="cs-font clever-icon-user-6"></i>
              </span>
              <div class="top-bar-dropdown">
                <div class="cusstom-link">
                  {% if customer %}
                  <ul class="customer-links">
                    {% if settings.enable_wishlist %}
                    <li class="wishlist-menu">
                      <i class="icon_heart" aria-hidden="true"></i>
                      <a href="/pages/wish-list" title="My Wishlist">{{ 'header.custom_link_wishlist' | t }}</a>
                    </li>
                    {% endif %}
                    <li><i class="icon_check_alt" aria-hidden="true"></i><a href="/checkout"><span>{{ 'header.custom_link_checkout' | t }}</span></a></li>
                    <li>
                      <a href="/account/logout">{{ 'header.custom_link_logout' | t }}</a>
                    </li>
                    <li>
                      <a href="/account">{{ 'header.custom_link_account' | t }}</a>
                    </li>
                  </ul>
                  {% else %}
                  <ul class="customer-links">
                    {% if settings.enable_wishlist %}
                    <li class="wishlist-menu">
                      <i class="icon_heart" aria-hidden="true"></i>
                      <a href="/pages/wish-list" title="My Wishlist">{{ 'header.custom_link_wishlist' | t }}</a>
                    </li>
                    {% endif %}
                    <li><i class="icon_check_alt" aria-hidden="true"></i><a href="/checkout"><span>{{ 'header.custom_link_checkout' | t }}</span></a></li>
                    <li><i class="icon_lock-open" aria-hidden="true"></i>

                      <a href="/account/login">{{ 'header.custom_link_login' | t }}</a>
                    </li>
                    <li><i class="icon_profile" aria-hidden="true"></i>
                      {% if shop.customer_accounts_optional %}
                      <a href="/account/register">{{ 'header.custom_link_create_account' | t }}</a>
                      {% endif %}
                    </li>
                  </ul>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endif %}
            {% endif %}
            <div class="header-cart-container">
              {% if section.settings.show_header_compare %}
              <div class="compare-target">     
                <a href="javascript:;" class="num-items-in-compare show-compare" title="compare">
                  <i class="cs-font clever-icon-law-1"></i>
                  <span class="compare-icon"><span class="number">0</span></span>
                </a>
              </div>
              {% endif %}
              {% if section.settings.show_header_cart %}
              <div class="header-cart">
                <!--%include 'customer_links' %-->
                <div class="top-cart-wr">
                  <div class="top-cart">
                    <a href="#" class="cartToggle">
                      <i class="cs-font {{ section.settings.header_icon_cart }}">
                        {% if section.settings.header_icon_carttype == 'cart_type_1' %}
                        <span class="cart-count">{{ cart.item_count }}</span>
                        {% endif %}
                      </i>
                      {% if section.settings.header_icon_carttype == 'cart_type_2' %}
                      <div class="minicart-wr">
                        <span class="cart-count"> Cart ({{ cart.item_count }})</span>
                      </div>
                      {% endif %}
                    </a> 
                  </div>

                  {% comment %}
                  If customer accounts are enabled, provide login and create account links
                  {% endcomment %}
                </div> <!-- End Top Header --> 
              </div>
              {% endif %}
              {% if section.settings.show_header_currency %}
              <div class="header-currency">
                {% include 'new-currency-top' %}
              </div>
              {% endif %}
              {%if section.settings.show_button_language %}
              <div class="header-language">
                <div class="header-language-inner">
                  {% if section.settings.language_app =='none' %}
                  <ul>
                    {%- assign footercol1 = section.settings.language_link_list -%}
                    {% for link in linklists[footercol1].links %}
                    <li{% if section.settings.default_language == link.title %} class="active"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {%- endfor -%}
                  </ul>
                  {% endif %}
                  {% if section.settings.language_app =='weglot' %}
                  <ul class="language_droplist" data-css="{{ 'weglot_app.css' | asset_url }}">
                  </ul>
                  {% endif %}
                </div>
              </div>
              {% endif %}
            </div>
            <div class="block-bottom">
              <div class="footer-icon-share">
                {% if section.settings.footer_column_4_icon_link_1  %}
                <a href="{{ settings.footer_column_4_icon_link_1 }}">
                  <i class="cs-font clever-icon-facebook"></i>
                </a>
                {% endif %}
                {% if section.settings.footer_column_4_icon_link_2  %}
                <a href="{{ settings.footer_column_4_icon_link_2 }}">
                  <i class="cs-font clever-icon-instagram"></i>
                </a>
                {% endif %}
                {% if section.settings.footer_column_4_icon_link_3  %}
                <a href="{{ settings.footer_column_4_icon_link_3 }}">
                  <i class="cs-font clever-icon-twitter"></i>
                </a>
                {% endif %}
                {% if section.settings.footer_column_4_icon_link_4  %}
                <a href="{{ settings.footer_column_4_icon_link_4 }}">
                  <i class="cs-font clever-icon-pinterest"></i>
                </a>
                {% endif %}
              </div>
              {% if section.settings.custom_content1 != blank %}
              <div class="copyright">
                {{section.settings.custom_content1}}
              </div>
              {% endif %}
            </div>   
          </div>
          {% unless section.settings.enable_header_fullwidth %}
        </div>
        {% endunless  %}
      </div>
    </div>
  </div>
  <script>
    jQuery('body').addClass("header-layout-8");
  </script>