
{%- if section.settings.reponsive_mt != blank -%}
{%- assign margin_top_responsive = section.settings.reponsive_mt | split: ',' -%}
{% capture margin_top %}mt-{{ margin_top_responsive[0] }} mt-sm-{{ margin_top_responsive[1] }} mt-md-{{ margin_top_responsive[2] }} mt-lg-{{ margin_top_responsive[3] }} {% endcapture %}

{%- endif -%}
{%- if section.settings.reponsive_bt != blank -%}
{%- assign margin_bottom_responsive = section.settings.reponsive_bt | split: ',' -%}
{% capture margin_bottom %}mb-{{ margin_bottom_responsive[0] }} mb-sm-{{ margin_bottom_responsive[1] }} mb-md-{{ margin_bottom_responsive[2] }} mb-lg-{{ margin_bottom_responsive[3] }} {% endcapture %}
{%- elsif section.settings.margin_bottom != blank -%}
{% capture margin_bottom %}margin-bottom-{{ section.settings.margin_bottom }}{% endcapture %}
{%- endif -%}
<div class="home-carousel-banner loadding carousel_center {{margin_top}} {{margin_bottom}}" style="{%- unless section.settings.reponsive_mt != blank -%}margin-top:{{ section.settings.margin_top }}px;{%endunless %}{%- unless section.settings.reponsive_bt != blank -%}margin-bottom:{{ section.settings.margin_bottom }}px;{%endunless %}">
  {% if section.settings.enable_block_fullwidth %} 
  <div class="full-width">
    {% else %}
    <div class="container">
      {% endif %}
      {% if section.settings.home4_collection_title_wr != blank %}
      <div class="heading-block">
        <h3 class="title">
          {{ section.settings.home4_collection_title_wr | split: '|' | first }}
        </h3>
      </div>
      {% endif %}
      <div  id="block-{{section.id}}" class="row center slider_center">
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          <div class="home-collection-item home-collection-item-1" >
            {% if block.settings.bg_home4_collection_1 != blank %}
            <a href="{{ block.settings.home4_collection_1 }}">
              <img src="{{ block.settings.bg_home4_collection_1 | img_url: '1024x'  }}">
            </a>
            {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            <div class="home-collection-title-wrapper">
              <div class="home-collection-title" style="text-align:{{block.settings.text_align }}">
                {% if block.settings.home4_collection_title_1 != blank %}
                <h3 class="h5">
                  <a href="{{ block.settings.home4_collection_1 }}">
                    {{ block.settings.home4_collection_title_1 | split: '|' | first }}
                  </a>
                </h3>
                {% endif %}
                {% if block.settings.home4_collection_subtitle_1 != blank %}
                <p class="sub-title">
                  {{ block.settings.home4_collection_subtitle_1 | split: '|' | first }}
                </p>
                {% endif %}
                {% if block.settings.home4_collection_textlink_1 != blank %}
                <p class="link-home4">
                  <a href="{{ block.settings.home4_collection_1 }}">{{ block.settings.home4_collection_textlink_1 | split: '|' | first }}</a>
                </p>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor%}
        {% endif %}
      </div>
    </div>
  </div>


{% schema %}
   {
  
	"name": "Slide Banner",
    "class": "index-section section",
    "max_blocks": 8,
    "settings": [
     
      {
          "type": "checkbox",
          "id": "enable_block_fullwidth",
          "label": "Enable Block Full Width "
        },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 10
    },
    {
      "type": "text",
      "id": "reponsive_mt",
      "label": "Responsive Margin Top",
      "info": "Example is '20,30,40,60'"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 10
    },
    {
      "type": "text",
      "id": "reponsive_bt",
      "label": "Responsive Margin Bottom",
      "info": "Example is '20,30,40,60'"
    }
	],
    "blocks": [
        {
          "type": "block",
          "name": "Block",
          "settings": [
          	
        	{
                "type": "text",
                "id": "home_block_padding",
                "label": "padding Item",
                "default": "0px 0px 0px 0px"
              },
            {
              "type": "textarea",
              "id": "home4_collection_title_1",
              "label": "Title",
              "default": "Collection Title"
            },
            {
              "type": "text",
              "id": "home4_collection_subtitle_1",
              "label": "Sub Title",
              "default": "Collection Sub Title"
            },
            {
              "type": "text",
              "id": "home4_collection_textlink_1",
              "label": "Label Button",
              "default": "View Products"
            },
            {
              "type": "url",
              "id": "home4_collection_1",
              "label": "Link"
            },
            {
              "type": "image_picker",
              "id": "bg_home4_collection_1",
              "label": "Images"
            }
         ]
      }
	],
    "presets": [
        {
          "name": "Slide Banner",
          "category": "3) Builder",
          "blocks": [
            {
              "type": "block"
            },
  			{
              "type": "block"
            },
  			{
              "type": "block"
            }
          ]
        }
  	]
 }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
