
{%- if section.settings.reponsive_mt != blank -%}
{%- assign margin_top_responsive = section.settings.reponsive_mt | split: ',' -%}
{% capture margin_top %}mt-{{ margin_top_responsive[0] }} mt-sm-{{ margin_top_responsive[1] }} mt-md-{{ margin_top_responsive[2] }} mt-lg-{{ margin_top_responsive[3] }} {% endcapture %}

{%- endif -%}
{%- if section.settings.reponsive_bt != blank -%}
{%- assign margin_bottom_responsive = section.settings.reponsive_bt | split: ',' -%}
{% capture margin_bottom %}mb-{{ margin_bottom_responsive[0] }} mb-sm-{{ margin_bottom_responsive[1] }} mb-md-{{ margin_bottom_responsive[2] }} mb-lg-{{ margin_bottom_responsive[3] }} {% endcapture %}
{%- elsif section.settings.margin_bottom != blank -%}
{% capture margin_bottom %}margin-bottom-{{ section.settings.margin_bottom }}{% endcapture %}
{%- endif -%}
<div class="home-newsletter{% if section.settings.layout_use == 'layout_2' %} newsletter-layout-2{% endif %}{% if section.settings.layout_use == 'layout_1' %} newsletter-layout-1{% endif %} {{margin_top}} {{margin_bottom}}" style="{%- unless section.settings.reponsive_mt != blank -%}margin-top:{{ section.settings.margin_top }}px;{%endunless %}{%- unless section.settings.reponsive_bt != blank -%}margin-bottom:{{ section.settings.margin_bottom }}px;{%endunless %}
background-color:{{section.settings.background_color}};{%if  section.settings.image != blank %} background-image:url( {{ section.settings.image | img_url: '2048x' }});background-repeat: no-repeat;background-attachment: fixed;{% endif %}
">
  <div class="container">
    <div class="newsletter row">
      <div class="newsletter-left col-12{% if section.settings.layout_use == 'layout_1' %} col-md-4{% endif %}">
        {% if section.settings.home_newsletter_title != blank %}
        <div class="heading-block">
          <h3 class="title">
            {{ section.settings.home_newsletter_title }}
          </h3>
          {% if section.settings.home_newsletter_subtitle != blank %}
          <p class="subtitle">
            {{ section.settings.home_newsletter_subtitle }}
          </p>
          {% endif %}
        </div>
        {% endif %}
      </div>
      <div class="content col-12{% if section.settings.layout_use == 'layout_1' %} col-md-6 offset-md-2{% endif %}">
        <form action="{{ section.settings.mailing_list_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
          <div class="input-group newsletter_form_content">
            <input  class="input__field input-group-field" type="email" value="" name="EMAIL" aria-label="Email Address"  placeholder="{{ 'footer.footer_newsletter_content' | t }}">
            <span class="input-group-btn">
              <input type="submit" class="btn"  value="{{ 'footer.footer_newsletter_go' | t }}" name="subscribe">
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
	"name": "Newsletter",
    "class": "index-section section",
    "settings": [
      {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 10
    },
    {
      "type": "text",
      "id": "reponsive_mt",
      "label": "Responsive Margin Top",
      "info": "Example is '20,30,40,60'"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 10
    },
    {
      "type": "text",
      "id": "reponsive_bt",
      "label": "Responsive Margin Bottom",
      "info": "Example is '20,30,40,60'"
    },

 	{
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Background Image"
        },
		{
            "type": "select",
            "id": "layout_use",
            "label": "Style:",
            "default": "layout_1",
            "options": [
            {
              "value": "layout_1",
              "label": "Style layout 1"
            },
  			{
              "value": "layout_2",
              "label": "Style layout 2"
            }
            ]
          },
      {
        "type": "text",
        "id": "home_newsletter_title",
        "label": "Heading",
        "default": "Newsletter"
      },
      {
        "type": "text",
        "id": "home_newsletter_subtitle",
        "label": "Subheading",
        "default": "Subscribe now to get daily updates "
      },
      {
        "type": "text",
        "id": "mailing_list_form_action",
        "label": "MailChimp form action URL",
        "info": "[Where do I find my MailChimp form action URL?](http:\/\/docs.shopify.com\/support\/configuration\/store-customization\/where-do-i-get-my-mailchimp-form-action)"
      }
	],
    "presets": [
        {
          "name": "Newsletter",
           "category": "3) Builder"
          
        }
  	]
 }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
